<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Queue</title>
    <script
      src="https://unpkg.com/htmx.org@2.0.3"
      integrity="sha384-0895/pl2MU10Hqc6jd4RvrthNlDiE9U1tWmX7WRESftEDRosgxNsQG/Ze9YMRzHq"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <form hx-post="/to-add" hx-trigger="submit">
      <label for="user-id">queue id</label>
      <input type="text" name="user-id" id="user-id" autocomplete="off" />

      <label for="req-len">length</label>
      <select name="req-len" id="req-len">
        <option value="long">long</option>
        <option value="short">short</option>
      </select>

      <button type="submit">submit</button>
    </form>

    <div id="list">
      <ul>
        {{range .}}
        <li>{{.ID}}</li>
        {{end}}
      </ul>
    </div>
  </body>
</html>
